.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.todo-form{
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

.todo-item{
  display: flex;
  justify-content: space-between;
  border: 1px solid whitesmoke;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  background: whitesmoke;
  box-shadow: 0 0 1px #ccc;
  cursor: pointer;
}

.todo-item-completed{
  background: green;
  display: flex;
  justify-content: space-between;
  border: 1px solid whitesmoke;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
}

.todo-item:hover{
  background: whitesmoke;
  box-shadow: 0 20px 50px #ccc;
}

.todo-actions > button{
  cursor: pointer;
}

input{
  width: 70%;
  border: 1px solid wheat;
  height: 30px;
  border-radius: 5px;
}
